body {
  font-family: Inter, Arial;
  /* overflow: hidden; */
}
.container {
  display: flex;
  /* height: 100%; */
  /* width: 100%; */
  overflow: auto;
  /* width: 100vw; */
  height: auto;
}

.left-section {
  max-width: 205px;
  width: 100%;
  background: #e8eaee;
  padding: 39px 10px 90px 45px;

  /* height: 100%; */
}
.column {
  display: flex;
  flex-direction: column;
}
.user-info-general {
  gap: 12px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #5c6168;
  /*margin-bottom: 12px;*/
}

.user-info-position {
  display: flex;
  flex-direction: row;
}
.user-info-position::before {
  content: "";
  display: block;
  width: 10px;
  height: 6px;
  background-color: #d67215;
  margin-top: 4px;
}

/* .user-info-position::after { 
  position: absolute;
  content: "";
  display: block;
  width: 200px;
  height: 187px;
  background-color: #d67215;
  top: 0; } */

.position-title {
  text-transform: uppercase;
  line-height: 12.1px;
  font-size: 10px;
  color: #5c6168;
  margin-left: 7px;
}
.user-info-location {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  gap: 8px;
  color: #5c6168;
  line-height: 12.1px;
  font-size: 10px;
  margin-top: 8px;
}
/* user location icon don't display!!!!!!!!! */
.user-info-location::before {
  content: url(/img/Vector.png);
  display: block;
  height: 11px;
  width: 8px;
}
h2::after {
  content: "";
  display: block;
  width: 26px;
  height: 1px;
  background-color: #5c6168;
  margin-top: 10px;
  margin-bottom: 16px;
  /* title separator */
}

.user-education {
  margin-top: 22px;
  text-align: left;
  color: #5c6168;
  width: 146px;
  font-size: 10px;
  line-height: 12.1px;
}
.user-education p {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
}
.user-education span {
  display: block;
  gap: 4px;
  margin-bottom: 6px;
}
.user-education-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 15.73px;
  letter-spacing: 0.28em;
}
h3 {
  font-weight: 600;
  font-size: 10px;
  margin-top: 16px;
  margin-bottom: 4px;
  color: #5c6168;
}
h2 {
  font-size: 13px;
  font-weight: 700;
  line-height: 15.73px;
  letter-spacing: 0.275em;
  color: #5c6168;
}
.right-section h2::after {
  width: 100px;
  margin-left: -24px;
}
.user-skills {
  margin-top: 25px;
}

.user-skills ul {
  gap: 6px;
  color: #5c6168;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  /* list-style-position: inside; */
}

.contact-mail::before {
  content: "";
  background-image: url(/img/icons/mail.svg);
  position: absolute;
  width: 9px;
  height: 7px;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(0) scale(1) rotateX(0deg);
  animation: rotate linear 1s infinite;
}
@keyframes rotate {
  0% {
    transform: translateY(-50%) translateX(0) scale(1) rotateY(0deg);
  }
  /* 33% { 
    transform: translateY(-50%) translateX(0) scale(1) rotateY(180deg);
   } */

  100% {
    transform: translateY(-50%) translateX(0) scale(1) rotateY(360deg);
  }
}
.contact-tel::before {
  content: url(/img/icons/telephone.svg);
  position: absolute;
}
.contact-linkedin::before {
  content: url(/img/icons/Linkedin.svg);
}
.contact-behance::before {
  content: url(/img/icons/behance.svg);
}
.contact-dribble::before {
  content: url(/img/icons/ball.svg);
}
.user-image {
  width: 116px;
  height: 116px;
  /* top: 39px; */
  /* left: 229px; */
  object-fit: cover;
  border-radius: 50%;
  /* margin-top: 39px;
  margin-right: 22px;
  margin-bottom: 21px;
  margin-left: 24px; */
}
.contacts-list a {
  text-decoration: none;
  color: #5c6168;
  font-size: 10px;
  font-weight: 400;
}

.header-right {
  display: flex;
  margin-bottom: 20px;
  gap: 22px;
  align-items: center;
  background-color: #5c616820;
}
.contacts-list {
  list-style: none;
  display: flex;
  flex-direction: column;

  /* gap: 6px; */
}
.contacts-list li {
  display: flex;
  align-items: center;
  gap: 14px;
  position: relative;
  padding-left: 20px;
  font-size: 12px;
}
.profile-text {
  color: #30353d;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: left;
  margin-bottom: 24px;
}

.experience-content ul {
  /* list-style-position: inside; */
  color: #5c6168;
}
.right-section {
  padding: 40px 24px;
}

.experience-company {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  line-height: 12.1px;
  color: #5c6168;
}

.job-period {
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: end;
  color: #5c6168;
}
.experience-text {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  color: #5c6168;
}

.experience-text p {
  margin-top: 6px;
  margin-bottom: 8px;
}
.experience-job-period {
  display: flex;
}

::marker {
  position: absolute;
  color: #d67215;
}
